body {
  width: 25%;
  text-align: center;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  align-items: flex-start;
}
/* #winnerTitle {
  overflow: hidden;
  max-height: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

#winnerTitle.active {
  opacity: 1;
  max-height: 200px;
} */

.container h1 {
  font-size: 3rem;
}
button {
  display: block;
  width: 100%;
  background-color: rgb(255, 228, 95);
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 10px 0;
}
